/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------------------------------------- */
:root{
	--white: #f4f4f5;
	--grey:#e4e4e7;
	--green: #4ade80;
	--red: #f87171;
	--shadow: #888888;
}

*{
	box-sizing: border-box;
}

html {
	/* Footer support */
	position: relative;
	min-height: 100%;

	font-family: 'Poppins', sans-serif;
	background-color: var(--grey);
}

label,input{
    display: inline-block;
    vertical-align: middle;
}

.container {
	max-width: 960px;
	margin: auto;
}

.header h2{
	font-weight: bold;
	font-size: 2.5rem;
}

.header {
	background-color: var(--white);
	box-shadow: 1px 1px 7px var(--shadow);
	padding: 30px 0 30px 0;
}

main.container{
	margin-top: 20px;
	text-align: center;
}

button {
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--grey);
}

.addBookBtn {
	font-size: 1.6rem;
	padding: 13px;
	border-radius: 13px;
	transition: filter 0.15s ease-in;
}

.addBookBtn:hover {
	filter: brightness(90%)
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	font-weight: bold;
}

/* Modal */

.modal{
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in-out;
	border-radius: 13px;
	padding: 20px;
	text-align: center;
	background-color: var(--white);
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.addBookForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:20px;
}

.addBookForm h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.input {
	box-sizing: content-box;
	height: 1.3rem;
	font-size: 1.3rem;
	border-radius: 8px;
	border: 1px solid var(--shadow);
	padding: 10px;
	width: 90%;
}

.isRead {
	font-size: 18px;
}

.checkbox {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.btnSubmit {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--green);
	transition: filter 0.15s ease-in;
}

.btnSubmit:hover {
	filter:brightness(90%);
}

.btnCancelBook {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--red);
	transition: filter 0.15s ease-in;
}

.btnCancelBook:hover {
	filter: brightness(90%);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.overlay.active {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}

.redBorder {
	border: 1px solid red
}

/* GRID CARDS */

.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 10px 0 50px 0;
	gap: 20px;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--white);
	box-shadow: 2px 2px 5px var(--shadow);
	font-size: 20px;
}

.card-buttons{
	display: flex;
	flex-direction: column;
	gap:20px;
}

.card-read {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--green);
	transition: filter 0.15s ease-in;
}

.card-not-read {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--red);
	transition: filter 0.15s ease-in;
}

.card-delete {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--grey);
	transition: filter 0.15s ease-in;
}

.card-read:hover,
.card-not-read:hover,
.card-delete:hover{
	filter: brightness(90%);
}